
*{
 font-family: 'Hind Vadodara', sans-serif;
}
.fondoblau{
  background-color: green;
}
.colorreloj{
  color: red;
}
.icona{
  font-size: 5rem;
}
#icon-detalls {
    transition: all 0.3s ease;
    user-select: none;
  }
  #icon-detalls.active {
    color: red !important;
    font-size: 5.9rem !important;
  }

.atacs{
  font-size: 0.76rem;
}
.subir{
  margin-top: -7rem;
}
.textactualitzacio{
    font-size: 0.86rem;
}
.tamanyo{
  font-size: 2.4rem;
}
 .no-left-rounded {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
.tamanyo2{
  font-size: 2.2rem;
}

.fondoheader{
 background-color: #23282D;
 
}
.fondoblauweb{
  background-color: #E8F1F9;
}
.perfil{
  width:7.1rem;
}
.ssh1{
width: 43%;
}
.ssh2{
  width: 38%;
}
.ftp1{
width: 55%;
}
.ftp2{
  width: 45%;
}

.ntp1{
 width: 18%;
}
.ntp2{
   width: 12%;
}
.dns1{
  width: 62%;
}
.dns2{
    width: 38%;
}
@media (min-width: 1350px) {
.perfil{
  width:8.7rem;
}
.subir{
  margin-top: -10.6rem;
}
}

@media(max-width: 950px){
  .perfil{
  width:4.7rem;
}
.tamanyo{
  font-size: 2.3rem;
}
.tamanyo2{
  font-size: 1.9rem;
}
.bola{
  position: relative;
   height:100vh; 
   width:50vw;
}
.subir{
  margin-top: -10rem;
}
.ssh1{
width: 38%;
}
.ssh2{
  width: 32%;
}
.ftp1{
width: 55%;
}
.ftp2{
  width: 45%;
}

.ntp1{
 width: 16%;
}
.ntp2{
   width: 11%;
}
.dns1{
  width: 54%;
}
.dns2{
    width: 33%;
}
}

.foot{
   font-size:0.77rem;
}
.secop{
  font-size: 0.89rem;
}
.fondopatata{
  
    background-color: #E8EAED;
}
.fondonav{

  background-color: #FFFFFF;
}