* {
  font-family: 'DM Sans', sans-serif;
}

body {
  background-image: url('./img/background3.jpg');
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;  
  min-height: 100vh;             
}

.registrarse {
  font-size: 0.80rem; 
}

@media (max-width: 450px) {
.paddingxs{
padding-right: 53px; 
padding-left: 73px;
padding-top: 50px;
}

}

