@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter.ttf') format('truetype');
   
  }
  
  body {
    font-family: 'Inter', sans-serif;
  }
  
  .tamanyvalencia{
    width: 15.8rem;
  }
  .fondopasos{
    background-color:#000000;
  }
  .colorheader{
    color:  #ECB206;
  }
  .tamanyonumeros{
    font-size: 8.2rem;
  }
  .fondoheader{
    background-color: #000000;
 
  }
  .tamanyofocu{
        font-size: 1.6rem;
  }
  .actualiza{
        font-size: 0.9rem;
  }
  .fondocartes{
    background-color: #CED4DA;
  }
  .governespanya{
      width: 15.2rem;
  }
  .copy{
    font-size: 0.9rem;
  }
  .logogva{
       width: 7.9rem;
  }