@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter.ttf') format('truetype');
   
  }
  .hoverespanya:hover{
    background-color: #FFC107;
  }
  
  body {
    font-family: 'Inter', sans-serif;
  }
  .xat{
    width: 240px;

  }
  .tamanyvalencia{
    width: 15.8rem;
  }
  .clear{
    background-color: #FFC107;
  }
  .bartolo{
    width:3rem;
  }
  .fondopasos{
    background-color:#000000;
  }
  .colorheader{
    color:  #ECB206;
  }
  .tamanyonumeros{
    font-size: 8.2rem;
  }
  .fondoheader{
    background-color: #000000;
 
  }
  .tamanyofocu{
        font-size: 1.5rem;
  }
  .actualiza{
        font-size: 0.9rem;
  }
  .fondocartes{
    background-color: #CED4DA;
  }
  .governespanya{
      width: 15.1rem;
  }
  .copy{
    font-size: 0.9rem;
  }
  .logogva{
       width: 7.9rem;
  }
 @media(max-width: 550px){
    .tamanyofocu{
        font-size: 1.5rem;
  }
   .copy{
    font-size: 0.9rem;
  }

 }
 .fixed-bottom {

  pointer-events: none; /* El div ya no intercepta clics */
}

.fixed-bottom img {
  pointer-events: auto; /* Pero la imagen sí los recibe */
}

