* {
  font-family: "Noto Serif", serif;
  color: #30475e;
}

.imatgeheader {
  width: 12.9rem;
}

.fondo {
  background-color: #e9ecef;
}
.fondotot{
  background-color: #E9ECEF !important;
}
.colordemo {
  background-color: #ff7000;
}
.precios {
  background-color: #30475e;
}

