* {
  font-family: "Noto Serif", serif;
  color: #30475e;
}



.fondo {
  background-color: #e9ecef;
}
.fondotot{
  background-color: #E9ECEF !important;
}
.colordemo {
  background-color: #ff7000;
}
.precios {
  background-color: #30475e;
}
.fondofooter{
  background-color: #222831;
}
.imatgefooter{
  width: 10rem;

}
@media (max-width: 1200px) {
  .ab{
    height: 0rem;
  }
  .imatgeheader {
    width: 12.9rem;
  }
}


.ww{
  width: 13.3rem;
  height: 12.9rem;
}
@media (min-width: 1500px) {
  .ww{
    width: 15.5rem;
    height: 15rem;
  }
}
@media (min-width: 950px) {
  .ww{
    width: 13.3rem;
    height: 13.2rem;
  }
}
@media (min-width: 750px) {
  .ww{
    width: 13.3rem;
    height: 13.2rem;
  }
  .imagen2{
    height: 43.7rem;
  }
  .imatgeheader {
    width: 6.2rem;
  }
  .ab{
    height: 46.2rem;
  }
  .ww{
    width: 21.9rem;
    height: 21.5rem;
  }
  .imagencaso3{
    height: 15.5rem;
    width: 23.3rem;
  }
  .imagencaso4{

  }
}
@media (min-width: 550px) {
  .imatgeheader {
    width: 6.2rem;
  }
}

